/* 
 * Since the body tag is part of index.html and therefore 
 * outside React render scope, I am using classes to implement 
 * background styling.
 */

.light {
  background-color: #f8f9fa;
  color: #343a40;
}

.dark {
  background-color: #343a40;
  color: #f8f9fa;
}

body {
  transition: background-color 2s ease;
}