/* 
 * Since the body tag is part of index.html and therefore 
 * outside React render scope, I am using classes to implement 
 * background styling.
 */

.light {
  background-color: #f8f9fa;
  color: #343a40;
}

.dark {
  background-color: #343a40;
  color: #f8f9fa;
}

body {
  transition: background-color 2s ease;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.8rem;
}

a {
  font-size: 1.8rem;
  color: #3366CC;

  :link {
    color: #3366CC;
  }

  :visited {
    color: #795CB2;
  }

  :link:active,
  :visited:active {
    color: #DD3333;
  }
}